/* LOGIN PAGE */
.loginBox{
	width: 280px;
	position: absolute;
	left:50%;
	top: 300px;
	color: white;
	transform: translate(-50%, -50%);
}

.loginBox h1{
	float: left;
	font-size: 40px;
	border-bottom: 6px solid #4caf50;
	margin-bottom: 30px;
	padding: 15px 0;
}

.loginBox.hidBox{
		display: none;
}