*, *::before, *::after {
    box-sizing: border-box;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(235, 235, 235);
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

.btn-grid{
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 15px;
    margin: 40px 0;
    
}

input{
    background-color: rgb(192, 178, 131);
    border: 2px solid rgb(151, 140, 104);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
    
    transition-duration: 0.75s;
    
}

.btn:hover{
    border-color: black;
    background-color: blue;
}

.start-btn{
    font-size: 100px;
    font-weight: bold;
    padding: 10px 20px;
}

.controls{
    display: flex;
    justify-content: center;
    align-items: center ;
}



.question-image-container{
padding: 20px;
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}

.question{
    text-align: center;
}

.hide{
    display: none;
}

.header{
    text-align: center;
    padding: 30px;

}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    width: 50%;

}

.btn_link{
    background-color: rgb(17, 165, 74);
    border: 2px solid rgb(21, 87, 7);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
    font: 25px;
    transition-duration: 0.75s;
    width: 300px;
}

.btn_link:hover{
    border-color: black;
    background-color: rgb(34, 211, 72);
}

 input[type=submit]{
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }

  .registerbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }