
body{
    background-color: seagreen;
    position: relative;
}

.leftside, .rightside {
    height: 60vh;
    width: 60%;
 
}

.leftside{
    background-color:white;
    box-shadow: 0 0 10px 2px;
    margin-left: 30%;
    margin-top: 18%;
    border-radius: 10px;
    
}

.rightside{
    background-color: white;
    box-shadow: 0 0 10px 2px;
    margin-right: 30%;
    margin-top: 18%;
    border-radius: 10px;
}

h1{
    text-align: center;
    padding: 15px;
}

p{
    font-size: 25px;
    text-align: center;
    padding: 25px;
}
