<!DOCTYPE html>
<html>
		<head>
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<meta http-equiv="X-UA-Compatible" content="ie=edge">
			
			<link href="../static/css/main.css" rel="stylesheet">

			<!-- Latest compiled and minified CSS -->
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
				
			{% if title %}
			<title>{{ title }} - Geography Quiz</title>
			{% else %}
			<title>Welcome to Geography Quiz</title>
			{% endif %}
		</head>
		<body>
				<div>
					<a href="/index">Home</a>
					<a href="/login">Login</a>
				</div>
				<hr>
				{% with messages = get_flashed_messages() %}
				{% if messages %}
				<ul>
					{% for message in messages %}
					<li>{{ message }}</li>
					{% endfor %}
				</ul>
				{% endif %}
				{% endwith %}
				{% block content %}{% endblock %}
		</body>
</html>