<!DOCTYPE HTML>

<html>
	<head>
		<title>World Quiz</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ url_for('static',    filename='css/main.css') }}">
	</head>
	<style>
		main {
			padding-top:20px;
		}
	</style>
	<body>
	<div class="center">

		<!-- Header -->
			<header id="header">
				<h1><strong><a href="{{ url_for('home') }}">World Quiz</a></strong></h1>
				<nav id="nav">
					<ul>
						<li><a href="{{ url_for('home') }}">Home</a></li>
					</ul>
				</nav>
			</header>

			<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">
					<header class="major special">
						<h3>Test your world Knowledge!</h2>
					</header>
					
					<!-- INPUT PAGE CONTENT HERE {CODE} -->
					<div class="center">
						
					</div>
					
				</div>
			</section>
	</div>
	{% block content %}
	{% endblock %}
	</body>
</html>