<!DOCTYPE HTML>

<html>
	<head>
		<title>Quiz</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="stylesheet" href="assets/css/center.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="assets/js/flagquiz.js"></script>
	</head>
	<body>
		<div class="center">

			<!-- Header -->
			<header id="header">
				<nav id="quiznav">
					<ul>
						<li><a href="index.html">Home</a></li>
					</ul>
				</nav>
			</header>

			<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

			<!-- Main -->
			<section id="quiz" class="wrapper">
				<div class="container">
					<table id="quizzes">
						<tr><td>Flag Quiz</td><td>Edit</td><td>Delete</td></tr> 
						<tr><td>World Quiz</td><td>Edit</td><td>Delete</td></tr>
					</table>
					<h1>Add new quiz</h1>
					<table id="newquiz"></table>
					<form action="#">
						<label for="img">Quiz image:</label>
						<input type="file" id="img">
						<label for="name">Quiz name: </label>
						<input type="text" id="name">
						<br>Quiz style:
						<input type="radio" id="1" name="quizStyle" value="1">
						<label for="1">One</label>
						<input type="radio" id="2" name="quizStyle" value="2">
						<label for="2">Two</label>
					</form>
					<a style="margin-top:80px;float:right;" href="#" class="button" onclick="location.href = 'addQuestions.html'">Add Quiz</a>
				</div>
			</section>
		</div>
	</body>
</html>