<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name ="viewport" content="width=device-width, initial-scale=1.0">
        <Title>dunno</Title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="container">
            <h1>your results for this quiz</h1>
            <p> your score was trash!</p>
            <p>your previous score was also bad</p>
            <p>you should do better cause you suck</p>
            <p>this is how many times you attempted it you idiot</p>
            <p>your average score for this is a fail like you</p>

            <button class="btn_link" style="float: left;" onclick="window.location.href = 'https://w3docs.com'">question list</button>
            <button class="btn_link2" style="float: right;" onclick="window.location.href = 'https://w3docs.com'">question list</button>
        </div>
    </body>
</html>