{% extends "siteBase.html" %}

{% block content %}
<div class="loginBox center">
	<h1>Sign in</h1>
	<form action="" method="post" novalidate>
		{{ form.hidden_tag() }}

		<div class="textbox">
		<p>
			{{ form.username.label }}<br>
			{{ form.username(size=32)}}
			{% for error in form.username.errors %}
			<span style="color:red;">[{{ error }}]</span>
			{% endfor %}
		</p>
		</div>

		<div class="textbox">
		<p>
			{{ form.password.label }}<br>
			{{ form.password(size=32)}}
			{% for error in form.password.errors %}
			<span style="color:red;">[{{ error }}]</span>
			{% endfor %}
		</p>
		</div>


		<p>
			{{ form.remember_me() }} {{form.remember_me.label }}
		</p>

		<div class="button">
		<p>
			{{ form.submit() }}
		</p>
		</div>
		<a href="{{ url_for('register') }}" class="button">Register</a>


	</form>
	
	
</div> 

{% endblock %}