<header id="header" class="alt">
    <nav id="nav">
        <ul class="menu">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            {% if current_user.admin == true%}
            <li><a href="{{ url_for('admin.index') }}">Admin</a></li>
            {% endif %}
            {% if current_user.is_anonymous %}
            <li><a href="{{ url_for('login') }}">Login</a></li>
            {% endif %}
            {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% endif %}
        </ul>
    </nav>
</header>