{% extends "quizStyle1Base.html" %}

{% block question_number %}
{{question.question_number}}
{% endblock %}

{% block question_text_content %}
{{question.question_contents.first().text_content}}
{% endblock %}

{% block question_img_content %}
{{ url_for('static',    filename='images/'+question.question_contents.first().img_content) }}
{% endblock %}

{% block question_choices %}
{% for choice in question.question_choices %}
	<div class="4u 12u$(xsmall)">
		<input type="radio" id="{{ question.question_number }}-{{ choice.choice_number }}" name="{{ question.question_number }}" checked>
		<label for="{{ question.question_number }}-{{ choice.choice_number }}">{{ choice.choice_content }}</label>
	</div>
{% endfor %}
{% endblock %}