{% extends "quizBase.html" %}

{% block head %}
    {{ super() }}
	<title>{{ quiz.quizname }}</title>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',    filename='css/quizStyle2.css') }}">
{% endblock %}

{% block body %}
    <div id="initial-div" class="container">
        <div id="question-container">
            <p id="p1" style="text-align: center;">{{question.question_contents.first().text_content}}</p>
            <p class="center"><img src="{{ url_for('static',    filename='images/'+question.question_contents.first().img_content) }}" alt="map" id="image"></p>
            <div id="answer-buttons" class="btn-grid">
                <form action="{{ url_for('quiz', quiz_name='lang') }}" method="post" class="answer">
					{% for button in form.buttons %}
						{{ button }}
					{% endfor %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
