{% extends "quizBase.html" %}

{% block head %}
	{{ super() }}
	<title>Title</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',    filename='css/main.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',    filename='css/quizStyle1.css') }}">
{% endblock %}

{% block body %}
	<div class="center">
		<header id="header">
			<div class="question">
				<div>Question</div>
				<div>
					<div class="qCircle">
						<span id="ajaxInput">{% block question_number %}{% endblock %}</span>
					</div>
				</div>
				<div><strong>{{quiz.quizname}}</strong> by {{quiz.creator.username}}</div>
			</div>
			<nav id="quiznav">
				<ul>
					<li><a href="{{ url_for('home') }}">Home</a></li>
				</ul>
			</nav>
		</header>

		<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

		<!-- Main -->
		<section id="quiz" class="wrapper">
			
			<div class="container">
				<header>
					<h3>{% block question_text_content %}{% endblock %}</h3>
				</header>
				<div class="box alt">
					<div class="row 50% uniform">
						<div class="svgContainer"><img id="flag" src="{% block question_img_content %}{% endblock %}" alt=""/></div>
					</div>
				</div>
					<div class="answer">
						{% block question_choices %}{% endblock %}
					</div>
					<a href="#" class="button">Submit</a>
			</div>
		</section>
	</div>
{% endblock %}