<!DOCTYPE HTML>

<html>
	<head>
		<title>Quiz Select</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
		<link rel="stylesheet" href="{{ url_for('static',    filename='css/main.css') }}">
	</head>
	<style>
		main {
			padding-top:20px;
		}
		div.worldQuiz{
			padding-top:150px;
		}
	</style>
	<body>
	<div class="center">

		<!-- Header -->
			<header id="header">
				<h1><strong><a href="{{ url_for('home') }}">Quiz</a></strong> Select</h1>
				<nav id="nav">
					<ul>
						<li><a href="{{ url_for('home') }}">Home</a></li>
					</ul>
				</nav>
			</header>

			<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">
					<header class="major special">
						<h3>Test your Geography and World Knowledge!</h2>
					</header>
					
					<div class="center">
						<div class="flagQuiz">
							<h2>Flags Quiz</h2>
							<div class="image fit flush">
								<img src="../static/images/au.svg"/>
							</div>
							<p>Are you truly aware of the outside world? Do you have what it takes to test your knowledge on the flags of the world? Take our test !</p>
							<a href="{{ url_for('quiz', quiz_name='flag') }}" class="button special big">Take Quiz</a>
						</div>	
					</div>
					
					
					<div class="center">
						<div class="worldQuiz">
							<h2>World Language Quiz</h2>
							<div class="image fit flush">
								<img src="../static/images/people-banner.png"/>
							</div>
							<p>How much do you know about world culture, information and languages?</p>
							<a href="{{ url_for('quiz', quiz_name='lang') }}" class="button special big">Take Quiz</a>
						</div>
					</div>
					
				</div>
			</section>
	</div>
	{% block content %}
	{% endblock %}
	</body>
</html>