{% extends "siteBase.html" %}

{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',    filename='css/main.css') }}">
    <title>View your results!</title>
	<style>
		.result{
			font-size: 5vh;
		}
		.score, .message{
			text-align: center;
		}
	</style>
{% endblock %}

{% block body %}
    <div class="center">
        <!-- Header -->
			<header id="header">
				<h1><strong><a href="{{ url_for('home') }}">Your</a></strong> Overall results </h1>
				<nav id="nav">
					<ul>
						<li><a href="{{ url_for('home') }}">Home</a></li>
					</ul>
				</nav>
			</header>

			<div class="result" class="center">
				
			
				<p class="message center">Average for flag quiz is {{average1}}</p>
				
				<p class= "messsage center">Average for language quiz is {{average2}}</p>
				
				
			</div>
			<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>
	</div>
{% endblock %}
