{% extends "siteBase.html" %}

{% block body %}
{{ super() }}
    <div class="row">


        <div class="col">
            <div class="leftside">
                <h1>Results for Flag quiz</h1>
                <p>Amount of quiz attempts:</p>
                <p>Amount of users who attempted Quiz:</p>
                <p>Average Score:</p>

            </div>
        </div>


        <div class="col">
            <div class="rightside">
                <h1>Results for Language quiz</h1>
                <p>Amount of quiz attempts:</p>
                <p>Amount of users who attempted Quiz:</p>
                <p>Average Score:</p>
            </div>
        </div>


    </div>
{% endblock %}